body, ul {
  margin: 0;
  padding: 0;
}

/* Style the FAQ list */
.faq-list {
  list-style: none;
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto;
  padding: 20px;
}

/* Style each FAQ item */
.faq-list li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Style the FAQ question */
.faq-question {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the FAQ answer */
.faq-answer {
  margin-top: 5px;
}
.menu {
                     position: fixed;
                     top: 20px;
                     left: 20px;
                     z-index: 1000;
                     background-color: rgb(0, 0, 0);
                   }
                   
                   .menu-icon {
                     cursor: pointer;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     width: 30px;
                     height: 20px;
                   }
                   
                   .line {
                     width: 100%;
                     height: 4px;
                     background-color: #ffffff;
                   }
                   
                   
                   
                   /* Initial styles for the hidden menu links */
.menu-links {
   position: absolute;
   top: 40px;
   left: -1000%; /* Initially hide the links off-screen to the left */
   padding: 10px;
   border-radius: 1px;
   transition: left 0.3s ease-in-out; /* Add a transition for the left property */
 }
 /* Styles for when the menu is open */
.menu-links.open {
   left: 0; /* Slide the links into view */
 }
 
                   .linkcolor {
                     color: white ;
                       font-family: sans-serif ;
                       font-size: 16px ;
                   }





