body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #111;
}

.target {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url('https://juvale.com/cdn/shop/products/YJ21-JV1012872_3_800x.jpg');
    background-size: cover;
    animation: moveTarget 5s linear infinite alternate;
}
.target-top {
    top: 20%; /* Adjust the percentage to position it above */
    animation-duration: 3s;
}
.target-bottom {
    top: 80%;
    animation-duration: 7s; /* Adjust the duration for the bottom target */
}

@keyframes moveTarget {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 50px);
    }
}

.crosshair {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Disable pointer events on the crosshair */
}

.score-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 1; /* Ensure the overlay is above other elements */
}

.timer-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 1; /* Ensure the overlay is above other elements */
}

.game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 32px;
}

.game-over-screen button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
