.disclaimer {
  display: none;
  background-color: yellow;
  color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
}

.disclaimer-content {
  position: relative;
}


.close {
  position: absolute;
  top: 5px; 
  right: 5px; 
  padding: 15px; 
  font-weight: bold; 
  font-size: 24px; 
  cursor: pointer;
}



body {
    background-color: #1F3B4D; 
    color: white;
}



 #container  {
 background-color: #29465B;
 border: 10px solid #f5e43c;
 height: 700px; 
 width: 750px;
 margin: 0 auto;
 text-align: center 
 }

 
 #btn {
 margin: 50px auto;
 height: 50px; 
 width: 250px;
font-size: 22px; 
background-color: rgb(255, 0, 0);
text-align: center;
}

    #factDisplay {
    margin: 25px auto;
    font-size: 26px; 
    color: red;
    font-style: bold;
    }
    
    #undoLastFact {
    height: 50px ;
    width: 150px;
       background-color: rgb(73, 225, 23);
       text-align: center;
       font-size: 18px;
       }

       #readFactButton {
        height: 50px ;
        width: 150px;
           background-color: rgb(73, 225, 23);
           text-align: center;
           font-size: 18px;
           }
           #stopReadingButton {
            height: 50px ;
            width: 150px;
               background-color: rgb(73, 225, 23);
               text-align: center;
               font-size: 18px;
               }
               #redoFactButton {
                height: 50px ;
                width: 150px;
                   background-color: rgb(73, 225, 23);
                   text-align: center;
                   font-size: 18px;
                   }
                   .menu {
                     position: fixed;
                     top: 20px;
                     left: 20px;
                     z-index: 1000;
                    
                   }
                   
                   .menu-icon {
                     cursor: pointer;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     width: 30px;
                     height: 20px;
                   }
                   
                   .line {
                     width: 100%;
                     height: 4px;
                     background-color: #ffffff;
                   }
                   
                   
                   
                   
.menu-links {
   position: absolute;
   top: 40px;
   left: -1000%; 
   padding: 10px;
   border-radius: 1px;
   transition: left 0.3s ease-in-out; 
 }
 
.menu-links.open {
   left: 0; 
 }
 
                   .linkcolor {
                     color: white ;
                       font-family: sans-serif ;
                       font-size: 16px ;
                   }




#fontSizeValue {
  color: white;
}
#fontSizeSlidercolor {
  color: white;
}




#factDropdown {
  color: white; 
  background-color: #0E294C; 
  border: none; 
  padding: 5px; 
  border-radius: 
  font-size: 16px; 
}

#factDropdown option {
  background-color: #0E294C; 
  color: white; 
}

.right-aligned-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}



.dark-button {
  background-color: #0E294C; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
}

.dark-button:hover {
  background-color: #555; 
}
