.disclaimer {
  display: none;
  background-color: yellow;
  color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
}

.disclaimer-content {
  position: relative;
}


.close {
  position: absolute;
  top: 5px; 
  right: 5px; 
  padding: 15px; 
  font-weight: bold; 
  font-size: 24px; 
  cursor: pointer;
}



body {
    background-color: #1F3B4D; 
    color: white;
}



 #container  {
 background-color: #29465B;
 border: 10px solid #f5e43c;
 height: 700px; 
 width: 750px;
 margin: 0 auto;
 text-align: center 
 }

 
 #btn {
 margin: 50px auto;
 height: 50px; 
 width: 250px;
font-size: 22px; 
background-color: rgb(255, 0, 0);
text-align: center;
}

    #factDisplay {
    margin: 25px auto;
    font-size: 26px; 
    color: white;
    font-style: bold;
    }
    
    #undoLastFact {
    height: 50px ;
    width: 150px;
       background-color: rgb(73, 225, 23);
       text-align: center;
       font-size: 18px;
       }

       #readFactButton {
        height: 50px ;
        width: 150px;
           background-color: rgb(73, 225, 23);
           text-align: center;
           font-size: 18px;
           }
           #stopReadingButton {
            height: 50px ;
            width: 150px;
               background-color: rgb(73, 225, 23);
               text-align: center;
               font-size: 18px;
               }
               #redoFactButton {
                height: 50px ;
                width: 150px;
                   background-color: rgb(73, 225, 23);
                   text-align: center;
                   font-size: 18px;
                   }
                   .menu {
                     position: fixed;
                     top: 20px;
                     left: 20px;
                     z-index: 1000;
                    
                   }
                   
                   .menu-icon {
                     cursor: pointer;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     width: 30px;
                     height: 20px;
                   }
                   
                   .line {
                     width: 100%;
                     height: 4px;
                     background-color: #ffffff;
                   }
                   
                   
                   
                   
.menu-links {
   position: absolute;
   top: 40px;
   left: -1000%; 
   padding: 10px;
   border-radius: 1px;
   transition: left 0.3s ease-in-out; 
 }
 
.menu-links.open {
   left: 0; 
 }
 
                   .linkcolor {
                     color: white ;
                       font-family: sans-serif ;
                       font-size: 16px ;
                   }




#fontSizeValue {
  color: white;
}
#fontSizeSlidercolor {
  color: white;
}




#factDropdown {
  color: white; 
  background-color: #0E294C; 
  border: none; 
  padding: 5px; 
  border-radius: 
  font-size: 16px; 
}

#factDropdown option {
  background-color: #0E294C; 
  color: white; 
}

.right-aligned-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}



.dark-button {
  background-color: #0E294C; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
}

.dark-button:hover {
  background-color: #555; 
}

#music-player {
    color: white;
    background-color: #29465B;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width:100%;
}

#backgroundMusic {
    width: 100%;
    margin-bottom: 0px;
    background-color: #29465B;
}

#songSelector {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #29465B;
}



#music-player audio::-webkit-media-controls-panel {
    color: white;
    background-color: #29465B;
    border: none;
    border-radius: px;
    margin-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#music-player audio::-webkit-media-controls-play-button {
    color: white;
    
}


.settings-panel {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color:#1F3B4D ;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.settings-panel h2 {
  margin-top: 0;
  color: white;
}

.settings-panel label {
  display: block;
  color: white;
}

.settings-panel input[type="color"] {
  width: 100px;
}

.settings-panel button {
  margin-top: 10px;
}
 
 
 #applySettings { 
    color: white;
    background-color:#1F3B4D ;
     }



#player {
      width: 640px;
      height: 360px;
      margin: 20px auto;
    }
#videoListContainer {
  max-width: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #29465B;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
    #videoList {
      text-align: left;
      max-width: 400px;
      margin: 20px auto;
      color:white
    }
videoList a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#videoList a:hover {
  background-color: #0E294C;
}

    input {
      margin: 10px;
    }




