body {
  font-family: sans-serif;
  background-color: #f0f8ff;
  color: #663399;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

.riddle {
  padding: 10px;
  font-style: italic;
}
