body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F3B4D;
    color: #3E424B;
}

header {
    background-color: #3E424B;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    color: white;
}
h2 {
color: #3E424B;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3E424B;
    color: #fff;
}



.menu {
                     position: fixed;
                     top: 20px;
                     left: 20px;
                     z-index: 1000;
                     
                   }
                   
                   .menu-icon {
                     cursor: pointer;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     width: 30px;
                     height: 20px;
                   }
                   
                   .line {
                     width: 100%;
                     height: 4px;
                     background-color: #ffffff;
                   }
                   
                   
                   
                   
.menu-links {
   position: absolute;
   top: 40px;
   left: -1000%; 
   padding: 10px;
   border-radius: 1px;
   transition: left 0.3s ease-in-out; 
 }
 
.menu-links.open {
   left: 0; 
 }
 
                   .linkcolor {
                     color: white ;
                       font-family: sans-serif ;
                       font-size: 16px ;
                   }
